
<div class="col-sm-9">
  <h4>Posts</h4>

  <table class="table table-striped table-hover">
    <tbody>
    <% @posts.each do |post| %>
      <tr><td>
          <div class="row col-sm-12">
            <%= link_to post.title, post_path(post) %>
          </div>
          <div class="row tagline">
            <div class="col-sm-6">
              <%= post.board.name %>
            </div>
            <div class="col-sm-6 ">
              <%= post.user.email %>
            </div>
          </div>
      </td></tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="col-sm-3">
  <h4>Boards</h4>

  <table class="table">
    <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= link_to board.name, board_path(board) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% if user_signed_in? %>
    <%= link_to 'New Board', new_board_path %>
  <% end %>
</div>
