<h1><%= @board.name %>: SHOW</h1>

<table border='1'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Data</th>
      <th>Ownder</th>
    </tr>
  </thead>
  <tbody>
  <% @board.posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post) %></td>
      <td><%= post.p_type %></td>
      <td><%= post.data %></td>
      <td><%= post.user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<% if user_signed_in? %>
  <%= link_to 'New Post', new_board_post_path(@board) %> |
  <%= link_to 'Edit', edit_board_path(@board) %> |
<% end %>
<%= link_to 'Back', root_path %>
