<div class="col-sm-9">
  <h4>Posts
    <small>
      <% if user_signed_in? %>
        <%= link_to '(new)', new_board_post_path(@board) %>
      <% end %>
    </small>
  </h4>

  <%= render 'posts/post_table' %>

</div>
<div class="col-sm-3">
  <h3><%= @board.name %>
    <small>
      <% if @board.user_id == current_user.id %>
        (<%= link_to 'edit', edit_board_path(@board) %> | <%= link_to 'delete', @board, method: :delete, data: { confirm: 'Are you sure?' } %>)
      <% end %>
    </small>
  </h3>
  <h5><%= @board.desc %></h5>
</div>

